html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.map-container {
  display: flex;
  height: calc(100vh - 45px);
}

.planner-text {
  position:relative;
  text-align: center;
  color: #fff;
}

.itinerary-header {
  position:relative;
  text-align: center;
  color: #fff;
}

.container {
  display: grid;
  grid-template-rows: 45px 1fr;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;  
  height: 45px;
  background: #333c4e;
}

.header h1 {
  margin: 0 auto; 
  color: white;
}

#map {
  width: 100%;
  height: 100%;
}

.controls {
  width: 30%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.nav-menu {
  background-color: #060b26;
  height: 100vh;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  z-index: 99999;
  width: 30%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}
.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
