html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 95vh;
}

.header-text {
  position:absolute;
  top: -2.5vh;
  left: 45%;
  color: #fff;

}
.planner-text {
  position:relative;
  text-align: center;
  color: #fff;
}
.itinerary-header {
  position:relative;
  /* top: 60vh; */

  /* top: 50vh; */
  text-align: center;
  left: 1000px;
  /* border: 10px; */
  color: #fff;
}

.header {
  height: 5vh;
  background: #333c4e;
  padding-right:100px;
}

.controls {
  width: 30%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 95vh;
}

.map {
  width: 70%;
  height: 95vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
